# Environment variables and secrets
.env
my_processing_agents/.env
my_processing_agents/secrets_local.py
secrets_local.py
claude.sh

results/

PyPantograph/
PyPantograph_Kai/
external/
gepa-repo/
openevolve/
dspy-repo/
Trace/

small_experiments/
my_run_scripts/
data
*.pdf
*.png
*.csv
my_plots/
my_process_data/

self-opt-data-gen/

*.bin